
  :root{
    --color1: rgb(14, 195, 240);
    --color2: rgba(0, 0, 0, 0.733);
    --color3: white;
    
  }

* {
  box-sizing: border-box;
}

.main img{
width: 100%;
aspect-ratio: 16/9;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background-color: var(--color1);
  box-sizing: border-box;
  overflow:wrap;
}

/* Header/logo Title */
.top-header{
display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:space-around;
    background-color: var(--color3);
  color:var(--color1)

}

.header {
  margin-top:15px;
  padding: 100px;
  text-align: center;
  background: var(--color1);
  color: white;  
  background-image: url('images/desola-lanre-ologun-USp4Gzr-Hdw-unsplash.jpg') ;
background-repeat:no-repeat ;
background-size:100%;
height: 80vh;

@media screen and (max-width:700px) {
  background-size:cover;
}
background-position: center;
background-origin: border-box;

}
.header p{
  color: #f1f1f1f5;
  font-size: 1.2rem;

}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color:var(--color2);
  padding: 20px;
}
.side h2, h5, h3, p{
  color: var(--color1);
}

/* Main column */
.main {
  @media screen and (min-width : 700px){flex:1;
  }
  background-color: var(--color2);
  padding: 20px;
}

.main p{
  color: #cd2222;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaaaaa67;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background:var(--color1);
}



/* smaller screens */
@media screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
  }
.header{
  padding: 50px;
}
 .header p{
font-size: 1.2rem;

}
     
      
  .image{
    width: 100%;
    aspect-ratio: 16/9;
  }
/*search bar*/

[type="search"]{
  padding: 10px;
  /* width: 325px; */
  background-color: rgba(216, 186, 14, 0.356);
  color:var(--color3);
  border: hidden 2px var(--color2);
  
}
[type="search"]:focus{
  background-color: rgba(0, 0, 0, 0.514);
}
  
  

 


@media screen and (max-width: 700px) {
body{
background-color: aqua;
overflow:none ;
}}}
